html {
    background: #333333;
}

h1 {
    font-family: 'Candal', sans-serif;
    color: white;
    text-align: center;
    font-size: 64px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#BtnDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#wave {
    width: 100%;
    height: 50px;
    top: 80px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper {
    position: relative;
    top: 250px;
    left: 640px;
}

.toggle {
    height: 50px;
    width: 100px;
    position: relative;
    top: 150px;
    font-size: x-large;
    font-weight: bold;
    background-color: cornsilk;
    color: blue;
}

.flex-item {
    display: block;
    bottom: 0px;
    width: 15px;
    height: 5px;
    background: yellow;
    position: absolute;
}

.start span {
    animation: audio-wave 1.5s infinite ease-in-out;
}

.end span {
    animation: none;
}

span:nth-child(1) {
    animation-delay: 0.2s;
    left: 0px;
}

span:nth-child(2) {
    animation-delay: 0.4s;
    left: 25px;
}

span:nth-child(3) {
    animation-delay: 0.6s;
    left: 50px;
}

span:nth-child(4) {
     animation-delay: 0.8s;
     left: 75px;
}

@keyframes audio-wave {
    0% {
        height: 5px;
        transform: translateY(0px);
        background: orange;
    }

    50% {
        height: 100px;
        transform: translateY(20px);
        background: orangered;
    }

    100% {
        height: 5px;
        transform: translateY(0px);
        background: yellow;
    }
}

#sentences {
    top: 180px;
    position: relative;
    height: 240px;
    color: white;
    overflow: auto;
    border: 2px solid white;
    border-radius: 10px;
    padding: 20px;
    margin-right: 50px;
    margin-left: 50px;
    background-color: black;
    opacity: 0.75;
}

#sentences li {
    padding: 10px;
}

.container {
    width: 90px;
    height: 100%;
    position: absolute;
}

#sentences > div {
    color: white;
    font-family: 'Fira Mono', monospace;
    font-size: 17px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: blue;
    margin-bottom: 2px;
}

#sentences.partialsummary > div:nth-child(even) {
    color: white;
    font-family: 'Fira Mono', monospace;
    font-size: 17px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: black;
    margin-bottom: 0;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 2px;
    font-family: 'Fira Mono', monospace;
    font-size: 10px;
    color: white;
    text-align: center;
}