html {
    background: black;
}

#wave {
    width: 100%;
    height: 50px;
    top: 160px;
    position: relative;
}

.wrapper {
    position: relative;
    top: 250px;
    left: 640px;
}

.toggle {
    height: 30px;
    width: 70px;
    position: relative;
    top: 200px;
    left: 632px;
}

.flex-item {
    display: block;
    bottom: 0px;
    width: 15px;
    height: 5px;
    background: #9b59b6;
    position: absolute;
}

.start span {
    animation: audio-wave 1.5s infinite ease-in-out;
}

.end span {
    animation: none;
}

span:nth-child(1) {
    animation-delay: 0.2s;
    left: 625px;
}

span:nth-child(2) {
    animation-delay: 0.4s;
    left: 650px;
}

span:nth-child(3) {
    animation-delay: 0.6s;
    left: 675px;
}

span:nth-child(4) {
     animation-delay: 0.8s;
     left: 700px;
}

@keyframes audio-wave {
    0% {
        height: 5px;
        transform: translateY(0px);
        background: #9b59b6;
    }

    25% {
        height: 40px;
        transform: translateY(20px);
        background: #3498db;
    }

    50% {
        height: 5px;
        transform: translateY(0px);
        background: #9b59b6;
    }

    100% {
        height: 5px;
        transform: translateY(0px);
        background:#9b59b6;
    }
}

#sentences {
    top: 230px;
    position: relative;
    height: 140px;
    color: white;
    overflow: scroll;
    border: 1px solid white;
    border-radius: 10px;
    padding: 20px;
    margin-right: 50px;
    margin-left: 50px;
}

#sentences li {
    padding: 10px;
}